<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shark.product.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.shark.product.domain.entity.Category">
        <id column="category_id" property="categoryId" />
        <result column="brand_id" property="brandId" />
        <result column="category_name" property="categoryName" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="is_leaf" property="isLeaf" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="category_logo" property="categoryLogo" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, brand_id categoryCode, category_name categoryName, parent_id, level, is_leaf, status, create_time, category_logo, sort
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from category
        <where>
            <if test="status != null and status != ''">
                AND status = 1
            </if>
        </where>
        order by sort
    </select>

</mapper>
